index: "/data/reference/genome/GRCh38/STAR"
GTF: "/data/reference/genome/GRCh38/Homo_sapiens.GRCh38.95.sort.gtf"
metadata: "metadata"

# SRR separator
srr_separator: ","

# SRA download path

# notification
## Email
mail: False
sender: 
sender_password: 
mail_to: #"youemaill@provider.com"
## IOS bark
bark: False
bark_api: #"https://api.day.app/xxxxxxxxxxxxxxxxx"

# Feishu
feishu: False
feishu_api: 

# threads setting
download_threads: 1
pigz_threads: 10
fastp_threads: 8
star_threads: 20